<!DOCTYPE html>
<html>
	<head>
		<title>Colored Dice Game</title>
		<meta charset="ISO-8859-1" /> 
		<link rel="stylesheet" href="main.css" type="text/css" />
		<link rel="stylesheet" href="https://pagecdn.io/lib/normalize/8.0.1/normalize.min.css" type="text/css" />
		<link rel="preconnect" href="https://fonts.gstatic.com" />
		<link href="https://fonts.googleapis.com/css2?family=Lexend:wght@600&display=swap" rel="stylesheet" />
		<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
		<script src="main.js"></script>
	</head>
	<body>
		<div id="app">
			<div class="content">
				<div class="colorGroup" v-for="color in ascendingColorGroups" :id="color">
					<button v-for="number in rowNumbersAscending">{{ number }}</button>
				</div>
				<div class="colorGroup" v-for="color in descendingColorGroups" :id="color">
					<button v-for="number in rowNumbersDescending">{{ number }}</button>
				</div>
				<div class="belowColors">
					<div id="left">
						<div class="pointsDescription" id="key">
							<p>x</p><hr><p>points</p>
						</div><!--
						--><div v-for="(crossValue, index) in crossCountValues" class="pointsDescription">
							<p>{{ index + 1 }}x</p><hr><p>{{ crossValue }}</p>
						</div>
					</div>
					<div id="right">
						<p>Skip = -{{ skipPenalty }}</p>
						<input v-for="n in allowedSkips" class="skip" type="checkbox" />
					</div>
				</div>
				<div class="score">
					<div v-for="color in ascendingColorGroups"><input class="tbScore" :id="color" readonly value="0" /><p>+</p></div><!--
					--><div v-for="color in descendingColorGroups"><input class="tbScore" :id="color" readonly value="0" /><p>+</p></div><!--
					--><div><input class="tbScore" id="skips" readonly value="0" /><p>=</p></div><!--
					--><div><input class="tbScore" id="total" readonly value="0" /></div>
				</div>
			</div>
		</div>
		<script src="QwixxAppClient.js"></script>
	</body>
</html>
